body{
    font-family: 'Roboto', sans-serif;
    margin: 0px; 
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px ;
}
.half-width{
    width: 50%;
    padding-left: 50px;
}
.half-width img{
    width: 80%;
}
.hire-me-btn{
    color: white;
    font-weight: 700;
    text-decoration: none;
    /* background-color: orangered; */
    background-image: linear-gradient(orangered, tomato);
    padding: 8px 29px;
    border-radius: 5px;
}
.top-banner{
    /* background-image: url(images/top-banner.png); */
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences-item{
    width: 40%;
    margin-left: 5%;
    padding-left: 30px;
    padding-bottom: 80px;
    box-shadow: 12px 12px 42px 2px gray;
    border-radius: 4px;
}
.experiences-area{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 85%;
}
#web-dev-experiences{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#full-stack-experiences{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}