body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 50px;
}
.half-width img{
    width: 80%;
}
.hire-me-btn{
    color: white;
    font-weight: 700;
    text-decoration: none;
    /* background-color: orangered; */
    background-image: linear-gradient(orangered, tomato);
    padding: 8px 29px;
    border-radius: 5px;
}